.item{
    padding: 15px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: all .3s;
    background-color: #0b0c10;
}

.item:hover{
    border-radius: 15px;
    transform: scale(1.1);
}

.item img{
    width: 50px;
}

.item p{
    color: #66fcf1;
}